.welcome-screen {
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    align-items: center;
}

.welcome-screen-input {
    width: 100%;
    max-width: 400px;
    color: var(--darkalert);
    line-height: 20px;
}