<div class="container" *ngIf="player && enemy; else elseBlock">
  <div class="top-container">
    <div class="card-container player">
      <app-combat-view-card [name]="player.name" [healthBarPercent]="playerHealthBarPercent"
        healthBarColor="accent"></app-combat-view-card>
    </div>
    <div class="card-container enemy">
      <app-combat-view-card [name]="enemy.enemyType | enemyName" [healthBarPercent]="playerHealthBarPercent"
        healthBarColor="warn"></app-combat-view-card>
    </div>
  </div>
  <div class="bottom-container">
    <div class="item-container">inventory</div>
    <div>
      <div>actions</div>
      <div class="actions-container">
        <button mat-raised-button color="accent" (click)="onPlayerAttacks()">Attack</button>
        <button mat-raised-button color="accent" (click)="onPlayerStealsHealth()">Steal Health</button>
        <button mat-raised-button color="warn" (click)="onEnemyAttacks()">Enemy Attacks</button>
      </div>
    </div>
    <div>
      <div>combat log</div>
      <mat-list class="combat-log">
        <mat-list-item *ngFor="let message of combatLog" class="combat-log-item">{{ message }}</mat-list-item>
      </mat-list>
    </div>
  </div>
</div>
<ng-template #elseBlock>
  <div style="display: flex; flex-direction: column; gap: .5rem;">
    <div>Player or Enemy not found...</div>
    <button mat-raised-button color="accent" (click)="goToWelcome()">Start new game</button>
  </div>
</ng-template>