<div  class="container" *ngIf="player && enemy; else elseBlock">
  <div class="top-container">
    <div class="card-container player">
      <mat-progress-bar mode="determinate" [value]="playerHealthBarPercent" color="accent" class="hp-bar"></mat-progress-bar>
      <img src="../../../assets/images/player.png" alt="player" height="300px" width="250">
    </div>
    <div class="card-container enemy">
      <mat-progress-bar mode="determinate" [value]="enemyHealthBarPercent" color="warn" class="hp-bar"></mat-progress-bar>
      <img src="../../../assets/images/enemy.png" alt="enemy" height="300px" width="250">
    </div>
  </div>
  <div class="bottom-container">
    <div class="item-container">inventory</div>
    <div>
      <div>actions</div>
      <div class="actions-container">
        <button mat-raised-button color="accent" (click)="onPlayerAttacks()">Hit Enemy</button>
        <button mat-raised-button color="accent" (click)="onPlayerStealsHealth()" >Steal Health from Enemy</button>
        <button mat-raised-button color="warn" (click)="onEnemyAttacks()">Enemy Attacks</button>
      </div>
    </div>
    <div>
      <div>combat log</div>
      <mat-list class="combat-log">
        <mat-list-item *ngFor="let message of combatLog" class="combat-log-item">{{ message }}</mat-list-item>
      </mat-list>
    </div>
  </div>
</div>
<ng-template #elseBlock>
  <div style="display: flex; flex-direction: column; gap: .5rem;">
    <div>Player or Enemy not found...</div>
    <button mat-raised-button color="accent" (click)="onReset()">Reset</button>
  </div>
</ng-template>
