<div class="container">
  <div class="top-container">
    <div class="card-container player">
      <mat-progress-bar mode="determinate" [value]="playerHP" color="accent" class="hp-bar"></mat-progress-bar>
      <img src="../../../assets/images/player.png" alt="player" height="300px" width="250">
    </div>
    <div class="card-container enemy">
      <mat-progress-bar mode="determinate" [value]="enemyHP" color="warn" class="hp-bar"></mat-progress-bar>
      <img src="../../../assets/images/enemy.png" alt="enemy" height="300px" width="250">
    </div>
  </div>
  <div class="bottom-container">
    <div class="item-container">inventory</div>
    <div>
      <div>actions</div>
      <div class="actions-container">
        <button mat-raised-button color="accent" (click)="attack(10)">attack</button>
        <button mat-raised-button color="accent" (click)="stealHp(10)">steal hp</button>
        <button mat-raised-button color="warn" (click)="takeDmg(10)">ooof</button>
      </div>
    </div>
    <div>
      <div>combat log</div>
      <mat-list class="combat-log">
        <mat-list-item *ngFor="let message of combatLog" class="combat-log-item">{{ message }}</mat-list-item>
      </mat-list>
    </div>
  </div>
</div>