<div class="grid-container">
    <ng-container *ngFor="let row of grid">
        <div *ngFor="let tile of row" class="grid-tile">
            <div *ngIf="tile.occupant?.type === type.Player" 
                  class="player" 
                 [textContent]="tile.occupant?.name">
            </div>
            <div *ngIf="tile.occupant?.type === type.Enemy"
                  class="enemy" 
                 [textContent]="tile.occupant?.name">
            </div>
            <div *ngIf="tile.occupant?.type === type.Obstruction" 
                  class="obstruction"
                 [textContent]="tile.occupant?.name">
            </div>
            <div *ngIf="tile.occupant?.type === type.Exit" 
                  class="exit" 
                 [textContent]="tile.occupant?.name">
            </div>
        </div>
    </ng-container>
</div>