/* You can add global styles to this file, and also import other style files */
:root {
  --primary: #FEFBE9;
  --secondary: #E1EEDD;
  --alert: #F0A04B;
  --darkalert: #183A1D;
  --floor: #7E8B6F;
}

@font-face {
  font-family: 'Press Start 2P';
  src: url('./assets/fonts/pressstart2p-regular.woff2') format('woff2'),
       url('./assets/fonts/pressstart2p-regular.woff') format('woff');
}


* {
  font-family: 'Press Start 2P';
   color: var(--primary);
}

body {
  margin: 0;
  background-image: url('./assets/images/background.jpg');
  background-repeat: repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
}

.button {
  background-color: var(--darkalert);
  border: 1px solid var(--primary);
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}
html, body { 
  height: 100%; 
}

/* Scrollbar */
/* width */
::-webkit-scrollbar {
  width: 4px;
  overflow-y: scroll;
  background: grey;
  box-shadow: inset 0 0 4px #707070;
}

::-webkit-scrollbar-thumb {
  background: var(--primary);
  border-radius: 10px;
}